window#waybar {
	background: rgba(0, 0, 0, 0.8);
	color: white;
	font-family: monospace;
}

#battery {
	padding: 10px;
}

#network {
	padding: 0px 10px 0px 0px;
}

#bluetooth {
	padding: 10px;
}

#custom-arch {
	font-family: "Noto Sans NF", "JetBrainsMono Nerd Font", monospace;
	font-size: 16px;
	color: white; /* Official Arch Blue */
	margin-right: 10px;
}

hyprland#workspaces {
	margin: 10px;
}